.container_2{
    padding: 0px;
    margin: 0px;
    background-color: red;
}
header {
    font-family: 'Rouge Script';
    border-bottom: 2px black solid;
    text-align: center;
}
.container_2 span{
    font-size: 100px;
}
