@media screen and (min-width: 768px) {
    .box_2{
        display: flex;
    }
    .container_3 ul{
        display: flex;
        justify-content: center;
    }
    .icon {
        display: none;
    }
    .container_4{
        display: flex;
        justify-content: flex-start;
    }
    .container_4box_1{
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        width: 87%;
    }
    .container_5{
        display: flex;
        flex-direction: row;
    }
    .column_1 {
        display: flex;
        flex: 60%;
        flex-direction: column;
        text-align: left;
    }
    .column_2 {
        display: flex;
        flex: 40%;  
        flex-direction: column;
        text-align: left;
        border-top: none;
    }
    .column_1 img{
        margin-right: 25px;
    }
    
    
}