.container_3{
    background: grey;
    padding: 10px;
    margin-top: 0px;
    
}
.container_3 ul{
    display: none;
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.container_3 li{
    display: inline;
    text-transform: uppercase;
    color: black;
    text-align: center;
    padding-right: 2px;
    padding-left: 2px;
    margin-right: 2px;
    margin-left: 2px;
}
.icon {
    display: flex;
    justify-content: left;
    align-items: flex-start;
}