.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 180px;
    padding: 5px;
    border: 1px solid black;
    background-color:  darkgrey;
}
.container_form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 5px;
    padding: 5px;
}
.container_box_form{
    justify-content: right;
    margin: 5px;
    padding: 5px;
}
.container_submit_form{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container_box_form p{
    margin-bottom: 5px;
    color: white;
}
.container_title{
    font-size: 20px;
    text-transform: uppercase;
    color: white;
}