.container_6column_2{
    flex:100%;  
}
.container_6column_2box_1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    text-align: left;
    margin: 15px;
    padding-bottom: 10px;
}   
.container_6column_2box_1_1{
    flex: 18%;
    padding-right: 2px;
    margin-right: 2px;
    text-align: left;
}
.container_6column_2box_1_1 img{
    max-width: 100%;
    display: none;
}
.container_6column_2box_1_1 span{
    font-size: 18px;
    font-weight: bold;
    color: black;
    text-align: left;
}
.container_6column_2box_1_1 p{
    color: grey;
    font-size: 14px;
    padding-top: 10px;
}