.container_6{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: white;
}
.container_6column_1{
  flex: 100%;
  text-align: center;
}
.container_6column_1box_1{
  border-bottom: 1px grey solid;
  margin: 15px;
  padding-bottom: 10px;
}
.container_6column_1box_1 img{
  max-width: 100%;
  align-content: center;
}
.container_6column_1box_1 span{
  font-size: 25px;
  font-weight: bold;
  color: black;
}
.container_6column_1box_1 p{
  color: grey;
  font-size: 18px;
  padding-top: 10px;
}
.container_6column_1box_2{
  display: flex;
  flex-direction: row;
  border-bottom: 1px grey solid;
  margin: 15px;
}
.container_6column_1box_2_1 {
  flex: 50%;
  margin-left: 1px;
  margin-right: 20px;
  padding-bottom: 10px;
  text-align: left;
}
.container_6column_1box_2_1 img{
  max-width: 100%;
  align-content: left;
  height: auto;
}
.container_6column_1box_2_1 span{
  font-size: 18px;
  font-weight: bold;
  color: black;
}
.container_6column_1box_2_1 p {
  font-size: 12px;
  color: grey;
  padding-top: 10px;
}
.container_6column_1box_2_2 {
  flex: 50%;
  margin-left: 4px;
  margin-right: 1px;
  padding-bottom: 10px;
  text-align: left;
}
.container_6column_1box_2_2 img{
  max-width: 100%;
  align-content: left;
  height: auto;
}
.container_6column_1box_2_2 span{
  font-size: 18px;
  font-weight: bold;
  color: black;
}
.container_6column_1box_2_2 p {
  font-size: 12px;
  color: grey;
  padding-top: 10px;
}
.container_6column_1box_3{
  display: flex;
  flex-direction: row;
  border-bottom: 1px grey solid;
  margin: 15px;
  padding-bottom: 10px;
}
.container_6column_1box_3_1 {
  flex: 25%;
  margin-left: 1px;
  margin-right: 4px;
  text-align: left;
}
.container_6column_1box_3_1 img{
  max-width: 100%;
  align-content: left;
  height: auto;
}
.container_6column_1box_3_1 span{
  font-size: 16px;
  font-weight: bold;
  color: black;
}
.container_6column_1box_3_1 p {
  font-size: 14px;
  color: grey;
  padding-top: 10px;
}
.container_6column_1box_3_2 {
  flex: 25%;
  margin-left: 4px;
  margin-right: 1px;
  text-align: left;
}
.container_6column_1box_3_2 img{
  margin-top: 5px;
  max-width: 100%;
  align-content: left;
  height: auto;
}
.container_6column_1box_3_2 span{
  font-size: 18px;
  font-weight: bold;
  color: black;
}
.container_6column_1box_3_2 p {
  font-size: 14px;
  color: grey;
  padding-top: 10px;
}
.container_6column_1box_3_3 {
  flex: 25%;
  margin-left: 4px;
  margin-right: 1px;
  text-align: left;
}
.container_6column_1box_3_3 img{
  margin-top: 5px;
  max-width: 100%;
  align-content: left;
  height: auto;
}
.container_6column_1box_3_3 span{
  font-size: 18px;
  font-weight: bold;
  color: black;
}
.container_6column_1box_3_3 p {
  font-size: 14px;
  color: grey;
  padding-top: 10px;
}
.container_6column_1box_3_4 {
  flex: 25%;
  margin-left: 4px;
  margin-right: 1px;
  text-align: left;
}
.container_6column_1box_3_4 img{
  margin-top: 5px;
  max-width: 100%;
  align-content: left;
  height: auto;
}
.container_6column_1box_3_4 span{
  font-size: 18px;
  font-weight: bold;
  color: black;
}
.container_6column_1box_3_4 p {
  font-size: 14px;
  color: grey;
  padding-top: 10px;
}