@media screen and (min-width: 768px) {
    .box_2{
        display: flex;
    }
    .container_3 ul{
        display: flex;
        justify-content: center;
    }
    .icon{
        display: none;
    }
    .container_4{
        display: flex;
        justify-content: flex-start;
    }
    .container_4box_1{
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        width: 87%;
    }
    .container_5{
        display: flex;
        flex-direction: row;
    }
    .column_1 {
        display: flex;
        flex: 60%;
        flex-direction: column;
        text-align: left;
    }
    .column_2 {
        display: flex;
        flex: 40%;  
        flex-direction: column;
        text-align: left;
        border-top: none;
    }
    .column_1 img{
        margin-right: 25px;
    }
    .container_6{
        display: flex;
        flex-direction: row;
    }
    .container_6column_1{
        display: flex;
        flex: 80%;
        flex-direction: column;
    }
    .container_6column_2{
        display: flex;
        flex-direction: column;
        flex: 20%;   
    }
    .container_6column_2box_1{
        display: flex;
        flex-direction: column;
    }
    .container_6column_1box_1{
        text-align: left;
        margin-right: 20px;
    }
    .container_6column_2box_1_1{
        padding-bottom: 20px;
        margin-bottom: 20px;
    }
    .container_6column_1box_2 {
        margin-right: 20px;
    }
    .container_6column_1box_3 {
        margin-right: 20px;
    }
    .container_6column_2box_1_1 img{
        display: flex;
    }
    container_6column_2box_1{
        border-bottom: none;
    }
    .container_6column_1box_3{
        border-bottom: none;
    }
}